<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/Bootstrap.php"
         colors="true">
    <testsuite name="Swag Migration Api Test Suite">
        <directory>Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./Controllers</directory>
                <directory suffix=".php">./Exception</directory>

                <!-- Bootstrap -->
                <file>SwagMigrationApi.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>