<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/Bootstrap.php"
         colors="true">
    <testsuite name="Swag Migration Connector Test Suite">
        <directory>Tests</directory>
    </testsuite>
    <php>
        <ini name="display_errors" value="-1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./Controllers</directory>
                <directory suffix=".php">./Exception</directory>

                <!-- Bootstrap -->
                <file>SwagMigrationConnector.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
