<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware5/shopware/5.4/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Shopware Migration Connector</label>
    <label lang="en">Shopware Migration Connector</label>

    <version>REPLACE_GLOBAL_WITH_NEXT_VERSION</version>
    <copyright>(c) by shopware AG</copyright>
    <license>MIT</license>
    <link>http://store.shopware.com</link>
    <author>shopware AG</author>
    <compatibility minVersion="5.4.0" maxVersion="5.99.99"/>

    <description lang="de">
        Der Migration Connector stellt API-Endpunkte zur Verfügung, die es Shopware 6 ermöglicht, eine sichere Datenverbindung zum aktiven Shopware 5-Shop zu erstellen.
    </description>
    <description lang="en">
        The Migration Connector provides API endpoints that allow Shopware 6 to create a secure data connection with the active Shopware 5 shop which support the data migration to Shopware 6.
    </description>

    <changelog version="REPLACE_GLOBAL_WITH_NEXT_VERSION">
        <changes lang="de">
            MIG-825 - Verbessert die Performance bei der Migration von Bestellungen;
            MIG-865 - Migration der ESD-Dateien für SW5.4 korrigiert;
            MIG-899 - Geändertes Verhalten der Migration von SEO URLs. Die URL Groß-/Kleinschreibung von Shopware 5 wird nun berücksichtigt;
        </changes>
        <changes lang="en">
            MIG-825 - Improve performance of the migration of orders;
            MIG-865 - Fix migration of esd files for SW5.4;
            MIG-899 - Changed behavior of the migration of seo urls. It now considers the URL case setting of shopware 5;
        </changes>
    </changelog>

    <changelog version="1.4.3">
        <changes lang="de">
            MIG-865 - Migration der Dokumente und ESD-Dateien korrigiert;
            MIG-881 - Migration der Versandkosten korrigiert;
        </changes>
        <changes lang="en">
            MIG-865 - Fix migration of documents and esd files;
            MIG-881 - Fix migration of shipping costs;
        </changes>
    </changelog>

    <changelog version="1.4.2">
        <changes lang="de">
            NEXT-31037 - Problem von falsch typisierten Daten in SW5.7.15 + älter und PHP8.1 behoben, welche zu Fehlern im Migrations-Assistenten führen
        </changes>
        <changes lang="en">
            NEXT-31037 - Fixed wrongly typed values in SW5.7.15 + older and PHP8.1, which result in migration assistant errors
        </changes>
    </changelog>

    <changelog version="1.4.1">
        <changes lang="de">
            MIG-840 - Migration der Kategorie-Medien korrigiert;
        </changes>
        <changes lang="en">
            MIG-840 - Fix migration of category media;
        </changes>
    </changelog>

    <changelog version="1.4.0">
        <changes lang="de">
            NEXT-22545 - Migration der ESD-Download-Produkte hinzugefügt
        </changes>
        <changes lang="en">
            NEXT-22545 - Migration of esd download products added
        </changes>
    </changelog>

    <changelog version="1.3.4">
        <changes lang="de">PT-12392 - Behebt Fehler beim Öffnen der Migrations-Information im Backend;</changes>
        <changes lang="en">PT-12392 - Fixes error when opening the migration information in the backend;</changes>
    </changelog>

    <changelog version="1.3.3">
        <changes lang="de">
            MIG-244 - Optimiert die Migration von Hauptvarianten-Informationen
        </changes>
        <changes lang="en">
            MIG-244 - Optimize main variant information
        </changes>
    </changelog>

    <changelog version="1.3.2">
        <changes lang="de">
            MIG-233 - Migration der Merkzettel / Wunschlisten hinzugefügt
        </changes>
        <changes lang="en">
            MIG-233 - Migration of notes / wishlists added
        </changes>
    </changelog>

    <changelog version="1.3.1">
        <changes lang="de">
            MIG-220 - Optimiert die Migration von Produkt-Vorschaubildern
        </changes>
        <changes lang="en">
            MIG-220 - Optimize product image cover migration
        </changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de">
            MIG-182 - Migration der Gutscheine hinzugefügt
            MIG-187 - Verbessert die Migration von Medien ohne Dateinamen
        </changes>
        <changes lang="en">
            MIG-182 - Migration of vouchers added
            MIG-187 - Improves the migration of media without filename
        </changes>
    </changelog>

    <changelog version="1.2.5">
        <changes lang="de">
            MIG-110 - Verbessert die Migration der Medien
            MIG-114 - Ermöglicht die Migration der Hauptvarianten-Information
            PT-12123 - Shopware 5.7 und PHP 8 Kompatibilität;
        </changes>
        <changes lang="en">
            MIG-110 - Improves the migration of media
            MIG-114 - Provide migration of main variant information
            PT-12123 - Shopware 5.7 and PHP 8 compatibility;
        </changes>
    </changelog>

    <changelog version="1.2.4">
        <changes lang="de">
            MIG-107 - Verbessert die Migration von Versandarten
            MIG-109 - Verbessern der Migration der Bestellungen
        </changes>
        <changes lang="en">
            MIG-107 - Improves the migration of shipping methods
            MIG-109 - Improve migration of orders
        </changes>
    </changelog>

    <changelog version="1.2.3">
        <changes lang="de">
            MIG-73 - Optimiert die Migration der Variantenübersetzungen
        </changes>
        <changes lang="en">
            MIG-73 - Optimizes migration of variant translations
        </changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">
            MIG-69 - Behebt einen Fehler beim Update-Check
        </changes>
        <changes lang="en">
            MIG-69 - Fixes a problem with the update check
        </changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">
            MIG-22 - Behebt ein Problem bei der Migration von Bestellungen, das durch abgebrochene Bestellungen verursacht wurde
        </changes>
        <changes lang="en">
            MIG-22 - Fixes a problem with migrating orders, caused by aborted orders
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            PT-11910 - Migration von Cross-Selling-Relationen
        </changes>
        <changes lang="en">
            PT-11910 - Migration of cross selling relations
        </changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">
            PT-11819 - Optimiert die Produkt-Varianten Migration
        </changes>
        <changes lang="en">
            PT-11819 - Optimizes product variant migration
        </changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">
            PT-11732 - Behebt ein Problem mit der PHP Rückwärts-Kompatibilität
        </changes>
        <changes lang="en">
            PT-11732 - Solves an issue regarding php backwards compatibility
        </changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">
            NTR - Behebt ein Problem mit der PHP Rückwärts-Kompatibilität
        </changes>
        <changes lang="en">
            NTR - Solves an issue regarding php backwards compatibility
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            PT-11586 - Optimierte Produktmigration
        </changes>
        <changes lang="en">
            PT-11586 - Optimized product migration
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">
            PT-11394 - Behebt ein Problem mit der Produktsichtbarkeit in verschachtelten Shop-Strukturen
        </changes>
        <changes lang="en">
            PT-11394 - Fix product visibility for nested shop structures
        </changes>
    </changelog>

    <changelog version="0.13.0">
        <changes lang="de">
            NTR - Überarbeitung der API;
            PT-10954 - Beheben des Releasedatum-Checks;
        </changes>
        <changes lang="en">
            NTR - Refactor API;
            PT-10954 - Fix release date check;
        </changes>
    </changelog>

    <changelog version="0.12.0">
        <changes lang="de">
            NTR - Behebt ein Problem mit der mysql Kompatibilität;
            PT-10819 - Optimiert das Holen der Newsletter-Empfänger;
            PT-10846 - Migration von Produktbewertungen;
            PT-10861 - Migration von SEO Urls;
        </changes>
        <changes lang="en">
            NTR - Fix mysql compatibility;
            PT-10819 - Optimize newsletter fetch query;
            PT-10846 - Migration of product reviews;
            PT-10861 - Migration of seo urls;
        </changes>
    </changelog>

    <changelog version="0.11.0">
        <changes lang="de">
            PT-10403 - Endpunkt für Versandkosten hinzugefügt;
            PT-10477 - Optimiert das Auslesen der Produktsichtbarkeit;
        </changes>
        <changes lang="en">
            PT-10403 - Added endpoint for shipping costs;
            PT-10477 - Optimizes reading of product visibility;
        </changes>
    </changelog>

    <changelog version="0.10.2">
        <changes lang="de">Problem mit Herstellerbildern behoben</changes>
        <changes lang="en">Fixed problem with manufacturer images</changes>
    </changelog>

    <changelog version="0.10.1">
        <changes lang="de">PT-10679 - Kompatibilität zu Shopware 5.4 wiederhergestellt;</changes>
        <changes lang="en">PT-10679 - Restored compatibility to Shopware 5.4;</changes>
    </changelog>

    <changelog version="0.10.0">
        <changes lang="de">Optimierungen und Shopware 5.6 Kompatibilität;</changes>
        <changes lang="en">Optimizations and Shopware 5.6 compatibility;</changes>
    </changelog>

    <changelog version="0.9.0">
        <changes lang="de">Erstveröffentlichung;</changes>
        <changes lang="en">Initial release;</changes>
    </changelog>
</plugin>
